extends layout

block content
    section
        div(class="row ml-0")
            h5 Channels
            i(class="fas fa-plus-square ml-2" style="line-height: 1.5;" onclick="openChannelModal()")

        div(class="channels-section")
            ul(class="list-group")
                each channel in channels.channels
                    li(class=(channel.active) ? "list-group-item": "list-group-item disabled")
                        div=(channel.alias) ? 'Alias: ' + channel.alias : "Alias: -"
                            if(!channel.active)
                                div(class="badge badge-dark ml-2") Inactive
                            div(class="badge badge-dark ml-2")=channel.num_updates + ' Channel Updates'
                            div(class="btn btn-outline-secondary btn-sm float-right ml-2" onclick="closeChannelModal('" + channel.channel_point + "')") Close Channel
                            div(class="btn btn-outline-secondary btn-sm float-right" onclick="channelModal('" + channel.channel_point + "')") Channel Policy
                            
                        div='Pubkey: ' + channel.remote_pubkey
                        - var local_pct = Math.round((channel.local_balance / channel.capacity) * 100)
                        - var remote_pct = Math.round((channel.remote_balance / channel.capacity) * 100)
                        div='Local Balance: ' + utils.numberWithCommas(channel.local_balance) + ' sat ' + '(' + local_pct + '%)'
                            if local_pct>80 || local_pct<20
                                i(class="fas fa-info-circle ml-2" data-toggle="tooltip" title="Your Channel is not balanced. Please make sure at least 20% of the capacity is on one side of the channel")
                        div='Remote Balance: ' + utils.numberWithCommas(channel.remote_balance) + ' sat ' + '(' + (remote_pct) + '%)'

                        div(class="progress")
                            div(class=(local_pct>90 || local_pct<10)?"progress-bar bg-danger":(local_pct>80 || local_pct<20) ? "progress-bar bg-warning": "progress-bar" role="progressbar" style="width: " + local_pct + "%" aria-valuenow=local_pct aria-valuemin="0" aria-valuemax="100")

                        i(class="fas fa-caret-right arrow-collapse mt-1" data-toggle="collapse" data-target="#collapseExample-" + channel.remote_pubkey aria-expanded="false" aria-controls="collapseExample")
                        div(class="collapse" id="collapseExample-" + channel.remote_pubkey)
                            if channel.last_update
                                div(class="font-italic mt-1")='Last Update (UTC)'
                                div=moment(channel.last_update * 1000).format('MMMM Do YYYY, h:mm:ss a')

                            div(class="font-italic mt-1") Payments
                            div='Number of Updates: ' + channel.num_updates
                            div='Satoshis sent: ' + channel.total_satoshis_sent
                            div='Satoshis received: ' + channel.total_satoshis_received

                            div(class="font-italic mt-1") Fees
                            div='Commit fee: ' + channel.commit_fee + ' sat'
                            div='Commit weight: ' + channel.commit_weight + ' sat'
                            div='Fee per kw: ' + channel.fee_per_kw + ' sat'
                            div='Csv delay: ' + channel.csv_delay + ' blocks (' + Math.round(channel.csv_delay * 10 / 60 / 24) + ' day(s))'

        // Channel Policy Modal
        div(class="modal fade" id="channel-policy-modal" tabindex="-1" role="dialog" aria-labelledby="channel-policy-modal" aria-hidden="true")
            div(class="modal-dialog" role="document")
                div(class="modal-content")
                    div(class="modal-header")
                        h5(class="modal-title" id="channel-modal-header")
                        button(type="button" class="close" data-dismiss="modal" aria-label="close")
                            span(aria-hidden="true") &times
                    div(class="modal-body")
                        div(id="channel-modal-body")

        // Channel Close Modal
        div(class="modal fade" id="channel-close-modal" tabindex="-1" role="dialog" aria-labelledby="channel-close-modal" aria-hidden="true")
            div(class="modal-dialog" role="document")
                div(class="modal-content")
                    div(class="modal-header") Close Channel
                        h5(class="modal-title" id="channel-close-header")
                        button(type="button" class="close" data-dismiss="modal" aria-label="close")
                            span(aria-hidden="true") &times
                    div(class="modal-body")
                        div(id="channel-close-body")
                            div How do you want to close this channel?
                            div(class="small") Cloosing cooperatively is only possible if your channel partner is online. If you force the channel to close, you will have to wait for the cltv delta to expire to access your funds.
                            div
                                i(class="fas fa-caret-right arrow-collapse mt-1" data-toggle="collapse" data-target="#close-channel-additional-options" aria-expanded="false")
                            form(id="close-channel-additional-options" class="collapse")
                                div(class="form-group")
                                    label(for="target-conf-close") Target Confirmations (Optional)
                                    input(type="number" class="form-control form-control-sm" id="target-conf-close" name="target_conf_close")
                                div(class="form-group")
                                    label(for="sat-per-byte-close") Satoshis per Byte (Optional)
                                    input(type="number" class="form-control form-control-sm" id="sat-per-byte-close" name="sat_per_byte_close")
                                div(class="small") You can specify either the number of blocks until the output should be included or a fee in Satoshis per Byte. If you leave both empty, LND will use default values automatically.
                            span(class="d-none" id="close-channel-button")
                            div(class="btn btn-secondary btn-sm mt-2" onclick="closeChannel(false)") Try Cooperative Close
                            div(class="btn btn-danger btn-sm mt-2 ml-2" onclick="closeChannel(true)") Force Close
                            div(class="mt-2" id="channel-close-response")
        
        // Channel Open Modal
        div(class="modal fade" id="channel-open-modal" tabindex="-1" role="dialog" aria-labelledby="channel-open-modal" aria-hidden="true")
            div(class="modal-dialog" role="document")
                div(class="modal-content")
                    div(class="modal-header") Open Channel
                        h5(class="modal-title" id="channel-open-header")
                        button(type="button" class="close" data-dismiss="modal" aria-label="close")
                            span(aria-hidden="true") &times
                    div(class="modal-body")
                        div(id="channel-open-body")
                            form(id="open-channel-form")
                                div(class="form-group mb-1")
                                    label(for="pubkey-input" class="mb-0") Pubkey
                                    input(type="text" class="form-control form-control-sm" id="pubkey-input" name="pubkey" required)
                                div(class="form-group mb-1")
                                    label(for="local-amt-input" class="mb-0") Amount (sat)
                                    input(type="number" class="form-control form-control-sm" id="local-amt-input" name="local_amt" required)
                                    //small(class="form-text text-muted") Available Balance: 
                                i(class="fas fa-caret-right arrow-collapse mt-1" data-toggle="collapse" data-target="#open-channel-optional" aria-expanded="false")
                                div(class="collapse" id="open-channel-optional")
                                    div(class="form-check mb-2")
                                        input(class="form-check-input" type="checkbox" value="" id="private-check" name="private")
                                        label(class="form-check-label" for="private-check" class="mb-0") Private
                                    div(class="form-group mb-1")
                                        label(for="push-amt-input" class="mb-0") Push Amount (Optional)
                                        input(type="number" class="form-control form-control-sm" id="push-amt-input" name="push_amt")
                                        small(class="form-text text-muted") The amount that will be sent to your channel partner in the initial commitment
                                    div(class="form-group mb-1")
                                        label(for="target-conf-input" class="mb-0") Target Confirmations (Optional)
                                        input(type="number" class="form-control form-control-sm" id="target-conf-input" name="target_conf")
                                        small(class="form-text text-muted") The target for the number of blocks this channel opening should be confirmed by
                                    div(class="form-group mb-1")
                                        label(for="sat-per-byte-input" class="mb-0") Satoshis per Byte (Optional)
                                        input(type="number" class="form-control form-control-sm" id="sat-per-byte-input" name="sat_per_byte")
                                        small(class="form-text text-muted") Manual fee in sat per byte
                                    div(class="form-group mb-1")
                                        label(for="min-htlc-msat-input" class="mb-0") Min HTLC msat (Optional)
                                        input(type="number" class="form-control form-control-sm" id="min-htlc-msat-input" name="min_htlc_msat")
                                        small(class="form-text text-muted") The minimum value in millisatoshi we will require for incoming HTLCs on the channel
                                    div(class="form-group mb-1")
                                        label(for="remote-csv-delay-input" class="mb-0") Remote CSV Delay (Optional)
                                        input(type="number" class="form-control form-control-sm" id="remote-csv-delay-input" name="remote_csv_delay")
                                        small(class="form-text text-muted") The delay we require on the remote’s commitment transaction. If this is not set, it will be scaled automatically with the channel size
                                    div(class="form-group mb-1")
                                        label(for="min-confs-input" class="mb-0") Min Confirmations (Optional)
                                        input(type="number" class="form-control form-control-sm" id="min-confs-input" name="min_confs")
                                        small(class="form-text text-muted") The minimum number of confirmations each one of your outputs used for the funding transaction must satisfy
                                    div(class="form-check mb-2")
                                        input(class="form-check-input" type="checkbox" value="" id="spend-unconfirmed-check" name="spend_unconfirmed")
                                        label(class="form-check-label" for="spend-unconfirmed-check" class="mb-0") Spend unconfirmed
                                    small(class="form-text text-muted") Whether unconfirmed outputs should be used as inputs for the funding transaction
                            button(type="submit" class="btn btn-secondary btn-sm" id="open-channel-button") Open Channel
                            div(id="channel-open-response" class="mt-2")









block scripts
    script(src="js/channels.js")