extends layout

block content
    section
        h5 Overview

        if fees
            section(id="overview-section")
                div='Fees earned today: ' + fees.day_fee_sum
                div='Fees earned this week: ' + fees.week_fee_sum
                div='Fees earned this month: ' + fees.month_fee_sum

        if inactive_funds
            section(id="inactive-funds")
                div='Inactive funds: ' + inactive_funds

        if getinfo
            section(id="getinfo-section") Node Info
                table(class="table table-sm")
                    thead
                        tr
                            td Description
                            td Value
                    tbody
                    each info, description in getinfo
                        tr
                            td=description
                            td=info

block scripts
    script(src="/js/index.js")