extends layout

block content
    section
        h5 Overview

        if fees
            section(id="overview-section")
                div='Fees earned today: ' + utils.numberWithCommas(fees.day_fee_sum) + ' sat'
                div='Fees earned this week: ' + utils.numberWithCommas(fees.week_fee_sum) + ' sat'
                div='Fees earned this month: ' + utils.numberWithCommas(fees.month_fee_sum) + ' sat'

        if inactive_funds
            section(id="inactive-funds")
                div='Inactive funds: ' + utils.numberWithCommas(inactive_funds) + ' sat'
                    i(class="fas fa-info-circle ml-2" data-toggle="tooltip" title="" +
                    "Those are funds that are locked up in inactive channels. Your channel partner is probably offline")

        if lnrr
            section(id="lnrr-section")
                div='Lightning Network Rate of Return (annualised): ' + lnrr + '%'

        if getinfo
            section(id="getinfo-section") Node Info
                table(class="table table-sm")
                    thead
                        tr
                            td Description
                            td Value
                    tbody
                    each info, description in getinfo
                        tr
                            td=description
                            td=info

block scripts
    script(src="/js/index.js")